.movies-list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-gap: 1rem;
}

.movie-card {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 12px;
    background-color: var(--cards-clr);
    transition: 0.5s;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card-content {
    padding: 0.6rem 0 0 0.4rem;
}

.movie-card-content h5 {
    padding-bottom: 0.2rem;
}

.movie-list-wrapper-hero {
    display: flex;
    align-items: center;
    gap: 0.8rem;

}

.movie-list-add svg {
    font-size: 2rem;
    margin-top: 0.6rem;
    color: #fff;
}

.movies-list-wrapper.section-spacing {
    padding: 0;

}

.movie-card-img {
    text-align: center;
    position: relative;
}

.favorite-icon {

    position: absolute;
    right: 0.8rem;
    top: 0.3rem;

}