.movie-footer {
    margin-top: 1rem;
}

.movie-fooetr-wrapper {
    padding: 3.5rem 0;
    background-image: url("../../../../public/images/Vectors.png");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;

}